apiVersion: apps/v1
kind: Deployment
metadata:
  name: mern-app
  namespace: mern-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mern-app
  template:
    metadata:
      labels:
        app: mern-app
    spec:
      serviceAccountName: ecr-access-sa
      containers:
        - name: service-1
          image: 985539759633.dkr.ecr.us-east-1.amazonaws.com/backend:31
          ports:
            - containerPort: 5000
          
          env:
            - name: MONGODB_URI
              valueFrom:
                secretKeyRef:
                  name: mern-app-secret
                  key: MONGODB_URI
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: mern-app-secret
                  key: JWT_SECRET
            - name: BRAINTREE_MERCHANT_ID
              valueFrom:
                secretKeyRef:
                  name: mern-app-secret
                  key: BRAINTREE_MERCHANT_ID
            - name: BRAINTREE_PUBLIC_KEY
              valueFrom:
                secretKeyRef:
                  name: mern-app-secret
                  key: BRAINTREE_PUBLIC_KEY

            - name: BRAINTREE_PRIVATE_KEY
              valueFrom:
                secretKeyRef:
                  name: mern-app-secret
                  key: BRAINTREE_PRIVATE_KEY
            - name: NODE_ENV
              value: production
        - name: service-2
          image: 985539759633.dkr.ecr.us-east-1.amazonaws.com/frontend:32
          ports:
            - containerPort: 3000
        - name: service-3
          image: mongo
          ports:
            - containerPort: 27017